@charset "utf-8";
.picList{
			padding: 0 3px;
			width: 72px;
			height: 72px;
			margin: 0 auto;
		}
.commentList{
			position: relative;
			margin-top: 12px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
.commentList .angle{
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
    left: 30px;
}
.commentIpt {
	display: none;
}
.commentIpt input{
	border: 1px solid #e7e7e7;
	padding: 6px;
	height: 25px;
	border-radius: 5px;
	line-height: 25px;
	width: 75%;
}
.commentIpt .sendBtn{
	color: #fff;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	width: 22%;
}